body, h1, h2, ul, li {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
  font-family: "Noto Serif";
}

#app {
  padding-bottom: 0;
  padding-left: 80px;
  padding-top: 0;
  padding-right: 80px;
}

.products {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.products__product {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
  cursor: pointer;
  display: flex;
  margin-bottom: 40px;
}

.products__product__image {
  margin-right: 40px;
  max-width: 300px;
}

.products__product__info__title {
  font-size: 3rem;
  line-height: 1;
}

.products__product__info__price {
  color: rgba(0, 0, 0, .5);
}

.modal {
  background-color: 
}